{% extends "master.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}


<section class="background-11" id="kefi_company">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-10">
                <h3 style="text-align: center;" class="color-primary fs-2 fs-lg-3">The Company</span></h3>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"
                /> </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/news-1.jpg" alt="">
                    </div> -->
                    <div class="col-12">
                        <div class="background-white p-5 radius-secondary">
                            <p class="dropcap justpara">Kefi Tech Solutions Pvt. Ltd is an End-to-End Solutions Provider for all your Software Development Services based in Technopark, Trivandrum. Kefi Tech was founded in the year 2016 and have offices in India and Canada. Our development and delivery center is located in Trivandrum, India. The software development team and app development team based in Technopark are a cost effective outsourcing hub to many international clients in US, Canada and Middle East. Kefi is also specialized in offshore delivery of testing services.</p>
                            <p class="justpara">We are an End-to-End IT services provider for all your Information Technology requirements. Whilst you focus on growing your business through your core functions, we come in the picture to help you with all of your non-core functions, not only with respect to IT but also on back end support functions with our BPO services.</p>
                            <p class="justpara">Kefi Tech Solutions believes that following are the four key factors in delivering successful solutions consistently …</p>
                            <ul style="color: #737373;">
                                <li>
                                    <p class="mb-2 justpara"><strong>Adopting right technology and continuous upgrades</strong> - Requires in-depth practical knowledge of the technology augmented with continuous learning of new developments.</p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Process and its benefits</strong> - Predictability and consistency is what you get.  Software engineering processes have matured a lot in the last decade and evolving to be more in line with the needs of businesses. We adopt and follow the right processes which ensures consistent delivery of high-quality solutions.</p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Adopting right tool</strong> - Improved time to market and ensures success with quality. Every activity in software development cycle benefits immensely by adopting right tools. Kefi is proficient in using project management tool, DeVops tool, test automation tool etc.</p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Experience matters</strong> - Ensures reduced risks and addresses most of them before it arises. Bringing an experienced team for a task is our core strategy to deliver quality solutions.</p>
                                </li>
                            </ul>
                            <p class=" justpara">Kefi is the right sized IT service partner which is focused on value-based services which is at par with any leading service organisation in this space. We give utmost importance and care to your intellectual properties, confidentiality of data and information, aligning ourselves with your goals and work as one team to ensure your success.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
    <div class="container">
        <div class="row justify-content-center" style="text-align: center;">
            <div class="col-10 col-md-10">
                <h5 class="color-primary fs-1 fs-lg-1">Our Vision</span></h5>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"/>  
                <blockquote class="blockquote mb-5">
                    <h5 class="fw-500 ml-3 mb-0">To be known as the Global Support which takes care of your IT, while you focus on growing your business.</h5>
                </blockquote>               
            </div>
            <div class="col-10 col-md-10">
                <h5 class="color-primary fs-1 fs-lg-1">Our Mission</span></h5>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"/>                   
                <blockquote class="blockquote">
                    <h5 class="fw-500 ml-3 mb-0">Do the right thing, every time, in the best possible way for our customer.</h5>
                </blockquote>  
            </div>
        </div>
    </div>
</section>
<section class="background-11 background-white text-center" id="kefi_core">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-10">
                <h3 style="text-align: center;" class="color-primary fs-2 fs-lg-3">Core Domains</span></h3>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"
                /> </div>
        </div>
    </div>
    <div class="container">
        <!-- <ul>
            <li><h5>Education</h5></li>
            <li>Travel & Hospitality</li>
            <li>Healthcare</li>
            <li>Media  & Entertainment</li>
            <li>Others</li>
        </ul> -->
        <div class="row mt-4 mt-md-5">
            <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline="{&quot;delay&quot;:0.1}">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim="{&quot;delay&quot;:0}" style="height: 100px; width: 100px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <i class="fa fa-graduation-cap fs-3 color-blueish mx-auto fw-600" aria-hidden="true"></i>
                </div>
                <h5 class="mt-4" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Education</h5>
                <p class="mb-0 mt-3 px-3" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Solution for every business related problems, readily
                    <br>and skillfully.</p>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline="{&quot;delay&quot;:0.1}">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim="{&quot;trigger&quot;:&quot;scroll&quot;}" style="height: 100px; width: 100px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <i class="fa fa-plane fs-3 color-blueish mx-auto fw-600" aria-hidden="true"></i>
                </div>
                <h5 class="mt-4" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Travel & Hospitality</h5>
                <p class="mb-0 mt-3 px-3" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Calculate every possible risk in your business, take
                    <br>control over them.</p>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline="{&quot;delay&quot;:0.1}">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim="{&quot;trigger&quot;:&quot;scroll&quot;}" style="height: 100px; width: 100px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <i class="fa fa-heartbeat fs-3 color-blueish mx-auto fw-600" aria-hidden="true"></i>
                </div>
                <h5 class="mt-4" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Healthcare</h5>
                <p class="mb-0 mt-3 px-3" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Know the market before taking any step, reduce
                    <br>risks before you go. </p>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4" data-zanim-timeline="{&quot;delay&quot;:0.1}">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim="{&quot;trigger&quot;:&quot;scroll&quot;}" style="height: 100px; width: 100px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <i class="fa fa-video-camera fs-3 color-blueish mx-auto fw-600" aria-hidden="true"></i>
                </div>
                <h5 class="mt-4" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Media  & Entertainment</h5>
                <p class="mb-0 mt-3 px-3" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Experience unparalleled service, from beginning
                    <br>to final construction.</p>
            </div>
        </div>
    </div>
    <div class="container">    
        <div class="row justify-content-center" style="margin-top: 20px;">    
            <div class="col-10 col-md-10">
                <h5 class="color-primary fs-1 fs-lg-1">Others</span></h5>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"/>  
                <div class="row">
                    <div class="col-12 col-md-12">               
                        <ul style="list-style: none;margin: 0;padding: 0;">
                            <li><h5>Intelligent Transport Systems (ITS)</h5></li>
                            <li><h5>Insurance</h5></li>
                            <li><h5>Supply Chain</h5></li>
                        <!-- </ul>
                    </div>  
                    <div class="col-6 col-md-6">               
                        <ul style="list-style: none;"> -->
                            <li><h5>eCommerce</h5></li>
                            <li><h5>Banking</h5></li>
                            <li><h5>Retail</h5></li>
                        </ul>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
<section class="background-11 text-center" id="kefi_leader">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-10">
                <h3 style="text-align: center;" class="color-primary fs-2 fs-lg-3">Leadership</span></h3>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"
                /> </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="{% static 'images/lead-1.jpg' %}" alt="Profile Picture">
                    <div class="px-4" data-zanim-timeline="{}">
                        <div class="overflow-hidden">
                            <h5 data-zanim="{&quot;delay&quot;:0}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Girish Nair</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-500 color-7" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">CEO</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Reenal Scott is the Founder and CEO of Elixir, which he started from his dorm room in 2013 with 3 people only.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4 mt-sm-0">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="{% static 'images/lead-2.jpg' %}" alt="Profile Picture">
                    <div class="px-4" data-zanim-timeline="{}">
                        <div class="overflow-hidden">
                            <h5 data-zanim="{&quot;delay&quot;:0}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Jayakrishnan T</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-500 color-7" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Manager Marketing & Strategic Relationship</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Lily leads Elixir UK and oversees the company’s Customer Operations teams supporting millions ofr users.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-4 mt-lg-0">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="{% static 'images/lead-3.jpg' %}" alt="Profile Picture">
                    <div class="px-4" data-zanim-timeline="{}">
                        <div class="overflow-hidden">
                            <h5 data-zanim="{&quot;delay&quot;:0}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Santhosh Retna</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-500 color-7" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Practice Head (Application & Technology) </h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">As the VP of People, Thomas’s focus lies in the development and optimization of talent retention.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="{% static 'images/lead-4.jpg' %}" alt="Profile Picture">
                    <div class="px-4" data-zanim-timeline="{}">
                        <div class="overflow-hidden">
                            <h5 data-zanim="{&quot;delay&quot;:0}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Prsanath Kumar</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-500 color-7" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Practice Head (Testing & Quality Assurance)</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">As General Counsel of Elixir, Tony oversees global legal activities and policies across all aspects.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="{% static 'images/lead-5.jpg' %}" alt="Profile Picture">
                    <div class="px-4" data-zanim-timeline="{}">
                        <div class="overflow-hidden">
                            <h5 data-zanim="{&quot;delay&quot;:0}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Karthika Anila</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-500 color-7" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Delivery Manager (Testing & Quality Assurance)</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">John has overseen the meteoric growth while protecting scaling its uniquely creative and culture.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="{% static 'images/lead-6.jpg' %}" alt="Profile Picture">
                    <div class="px-4" data-zanim-timeline="{}">
                        <div class="overflow-hidden">
                            <h5 data-zanim="{&quot;delay&quot;:0}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Anish Nair</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-500 color-7" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Project  Manager (Testing & Quality Assurance)</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mt-4">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="mb-4 radius-tr-secondary radius-tl-secondary" src="{% static 'images/lead-7.jpg' %}" alt="Profile Picture">
                    <div class="px-4" data-zanim-timeline="{}">
                        <div class="overflow-hidden">
                            <h5 data-zanim="{&quot;delay&quot;:0}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">G. Unnikrishnan</h5>
                        </div>
                        <div class="overflow-hidden">
                            <h6 class="fw-500 color-7" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Practice Head (BPO)</h6>
                        </div>
                        <div class="overflow-hidden">
                            <p class="py-3 mb-0" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Ragner, SVP of Engineering, oversees Elixir’s vast engineering organization which drives the core programming.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</section>
<section class="background-11 background-white text-center" id="kefi_team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-10">
                <h3 style="text-align: center;" class="color-primary fs-2 fs-lg-3">Meet the Team</span></h3>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"
                /> </div>
        </div>
    </div>
    <div class="container">
        <div class="col-10 offset-1 mt-4">
            <img class="radius-tr-secondary radius-tl-secondary radius-br-secondary radius-bl-secondary" src="{% static 'images/kefi_team.jpg' %}" alt="">
        </div>
    </div>
</section>
{% endblock %}