{% extends "master.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}


<section class="background-11" id="kefi_company">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-10">
                <h3 style="text-align: center;" class="color-primary fs-2 fs-lg-3">Software Development</span></h3>
                <p class="px-lg-4 mt-3" style="text-align: center;">End-to-End solutions provided for all your Enterprise level web and mobile applications.</p>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"
                /> 
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/news-1.jpg" alt="">
                    </div> -->
                    <div class="col-12">                            
                        <div class="background-white p-5 radius-secondary">
                            <div class="col-12 mb-2">
                                <div class="overflow-hidden" data-zanim-timeline="{}">
                                    <h4 data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Technology Landscape</h4>
                                </div>
                            </div>                          
                            <div class="col-10 offset-1 mt-4 mb-4">
                                <img class="radius-tr-secondary radius-tl-secondary radius-br-secondary radius-bl-secondary" src="{% static 'images/landscape.jpg' %}" alt="">
                            </div>                           
                            <div class="col-12 mt-4">
                                <div class="overflow-hidden" data-zanim-timeline="{}">
                                    <h4 data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Application & Technology Services</h4>
                                </div>
                            </div>                            
                            <p class="justpara">What is it that makes Kefi Tech a strong contender in the world of Information Technology? Our software developers are experts in web application development, mobile app development and everything in software engineering including QA. We also give utmost importance to maintenance and support, legacy application transformation, software integration services, data management and outsourcing</p>
                            <ul style="color: #737373;">
                                <li>
                                    <p class="mb-2 justpara"><strong>Application Development</strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Capability to work with most platforms</strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Legacy Application Transformation</strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>JIRA Project Management tools, Industry best practices</strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Software Integration services</strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Data Management</strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Offshore development centre</strong></p>
                                </li>
                            </ul>                          
                            <div class="col-12 mt-4">
                                <div class="overflow-hidden" data-zanim-timeline="{}">
                                    <h4 data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Digital Transformation & Mobility Services</h4>
                                </div>
                            </div>
                            <p class="justpara">We provide mobility solution consulting in line with our digital transformation agenda, developing mobile solutions in native or hybrid mode and integrating mobile solutions to back end applications. Our Mobile App development services has strong footing based on strong process, technology capability and QA process. Stringent project management ensures timely delivery of projects with highest level of quality. Mobility solutions has significant difference from web solutions. Understanding its difference and carefully positioning the same in business /marketing/sales delivery chain is critical for success of any mobile project. Our highly skilled Mobile App developers are trained to understand customer needs and come up with most appropriate solutions.</p>
                            <ul style="color: #737373;">
                                <li>
                                    <p class="mb-2 justpara"><strong>Mobile Development Services</strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Mobile Strategy Consulting</strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Mobility Testing Services</strong></p>
                                    <ul style="color: #737373;">
                                        <li>
                                            <p class="mb-2 justpara"><strong>App maintenance and support</strong></p>
                                        </li>
                                        <li>
                                            <p class="mb-2 justpara"><strong>Mobile Testing & Security</strong></p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>                         
                            <div class="col-12 mt-4">
                                <div class="overflow-hidden" data-zanim-timeline="{}">
                                    <h4 data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">IT Consulting & System Integration</h4>
                                </div>
                            </div>
                            <p class="justpara">One of the major reasons that help us win over competition is our expertise in IT Business Consulting services. We offer invaluable insights to business scenarios form a software perspective, providing a very high Value Proposition. This comes from the vast experience of our leadership team, within, IT Services and B2B Business Experience, spanning over 20 years in IT project delivery.</p>
                            <p class="justpara">Thanks to our Leadership team! We offer IT Consulting and business consulting to clients worldwide. The advantage to clients is that projects are enriched by not just technical specifications, but also by business goals that a software is expected to deliver. During requirements gathering workshop, we go deep in to business scenarios and adopt a consultative approach to our project build, suggesting make-overs or provisions that could be built in to ensure business results.</p>
                            <p class="justpara">We offer project management consulting, PMO services, System integration services, IT consulting, mobile strategy consulting, and big data consulting. </p>
                            <h5 data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="fw-500">Opportunity assessment and Strategy Formation </h5>
                            <ul style="color: #737373;">
                                <li>
                                    <p class="mb-2 justpara"><strong>Enterprise level strategy and assessment of opportunities </strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Establishing roadmaps and quick wins </strong></p>
                                </li>
                            </ul>
                            <h5 data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="fw-500">Organization level process and adaptation </h5>
                            <ul style="color: #737373;">
                                <li>
                                    <p class="mb-2 justpara"><strong>Security/infrastructure </strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Process and change management </strong></p>
                                </li>
                            </ul>
                            <h5 data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="fw-500">Design Consulting </h5>
                            <ul style="color: #737373;">
                                <li>
                                    <p class="mb-2 justpara"><strong>Design strategy and UI/UX creation </strong></p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Adopting best practices and technology for value generation</strong></p>
                                </li>
                            </ul>                    
                            <div class="col-12 mt-4">
                                <div class="overflow-hidden" data-zanim-timeline="{}">
                                    <h4 data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Amazon Web Services (AWS)</h4>
                                </div>
                            </div>
                            <p class="justpara">AWS benefits their user by providing services at the low cost, which do not have any upfront cost. Amazon Web Service is easy to use and the user should not worry about the servers, security, and databases. AWS has several advantages which make users rely on them. </p>
                            <p class="justpara">Kefi is armed with total expertise to manage/build AWS services for your organisation in both web & mobile applications. Adept in migrating application & infrastructure to AWS and also in deploying applications. We can supplement the existing IT team and also help with automating cloud resources. </p>
                            <h5 data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" class="fw-500">Our expertise: </h5>
                            <ul style="color: #737373;">
                                <li>
                                    <p class="mb-2 justpara"><strong>Migration</strong> - Move applications and infrastructure to AWS.</p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Deployment </strong> - Deploying applications in AWS.</p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Management </strong> - Supplement the existing IT Team.</p>
                                </li>
                                <li>
                                    <p class="mb-2 justpara"><strong>Automation </strong> - Help with automating cloud resources.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-10 col-md-10">
                <h5 class="color-primary">Other Services</span></h5>
                <ul style="color: #737373;">
                    <li>
                        <a href="{% url 'testing' %}"><p class="mb-2 justpara"><strong>Software Testing & QA </strong></p></a>
                    </li>
                    <li>
                        <a href="{% url 'bpo' %}"><p class="mb-2 justpara"><strong>BPO / Back End Services </strong></p></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>
{% endblock %}