{% extends "master.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}
<div class="flexslider flexslider-simple h-full loading" style="z-index: 0;">
    <ul class="slides">
        <li data-zanim-timeline="{}">
            <section class="py-0">
                <div>
                    <div class="background-holder elixir-zanimm-scale" style="background-image:url({% static 'images/header-6.jpg' %});" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
                    </div>
                    <!--/.background-holder-->
                    <div class="container">
                        <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                            <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                                <div class="overflow-hidden">
                                    <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Service Partner</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>Software service company with end to end technology capability propelled by right Process, Tools and Experience.</p>
                                </div>
                                <div class="overflow-hidden">
                                    <div class="zopacity" data-zanim='{"delay":0.2}'>
                                        <a class="btn btn-primary mr-3 mt-3" href="about.html">About Us
                                            <span class="fa fa-chevron-right ml-2"></span>
                                        </a>
                                        <a class="btn btn-warning mt-3" href="#contact_us">Contact us
                                            <span class="fa fa-chevron-right ml-2"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </section>
        </li>
        <li data-zanim-timeline="{}">
            <section class="py-0">
                <div>
                    <div class="background-holder elixir-zanimm-scale" style="background-image:url({% static 'images/header-5.jpg' %});" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
                    </div>
                    <!--/.background-holder-->
                    <div class="container">
                        <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                            <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                                <div class="overflow-hidden">
                                    <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Enterprise Applications</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>Turning business challenges to opportunities through innovative enterprise application solutions.</p>
                                </div>
                                <div class="overflow-hidden">
                                    <div class="zopacity" data-zanim='{"delay":0.2}'>
                                        <a class="btn btn-primary mr-3 mt-3" href="about.html">About Us
                                            <span class="fa fa-chevron-right ml-2"></span>
                                        </a>
                                        <a class="btn btn-warning mt-3" href="#contact_us">Contact us
                                            <span class="fa fa-chevron-right ml-2"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </section>
        </li>
        <li data-zanim-timeline="{}">
            <section class="py-0">
                <div>
                    <div class="background-holder elixir-zanimm-scale" style="background-image:url({% static 'images/header-1.jpg' %});" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
                    </div>
                    <!--/.background-holder-->
                    <div class="container">
                        <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                            <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                                <div class="overflow-hidden">
                                    <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Digital Transformation</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>Device agnostic mobile solutions harbouring Artificial Intelligence and Machine Learning to transform business.</p>
                                </div>
                                <div class="overflow-hidden">
                                    <div class="zopacity" data-zanim='{"delay":0.2}'>
                                        <a class="btn btn-primary mr-3 mt-3" href="about.html">About Us
                                            <span class="fa fa-chevron-right ml-2"></span>
                                        </a>
                                        <a class="btn btn-warning mt-3" href="#contact_us">Contact us
                                            <span class="fa fa-chevron-right ml-2"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </section>
        </li>
        <li data-zanim-timeline="{}">
            <section class="py-0">
                <div>
                    <div class="background-holder elixir-zanimm-scale" style="background-image:url({% static 'images/header-7.jpg' %});" data-zanimm='{"from":{"opacity":0.1,"filter":"blur(10px)","scale":1.05},"to":{"opacity":1,"filter":"blur(0px)","scale":1}}'>
                    </div>
                    <!--/.background-holder-->
                    <div class="container">
                        <div class="row h-full py-8 align-items-center" data-inertia='{"weight":1.5}'>
                            <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                                <div class="overflow-hidden">
                                    <h1 class="fs-4 fs-md-5 zopacity" data-zanim='{"delay":0}'>Test Automation</h1>
                                </div>
                                <div class="overflow-hidden">
                                    <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>Automation accelerator can greatly save cost and time for test automation.</p>
                                </div>
                                <div class="overflow-hidden">
                                    <div class="zopacity" data-zanim='{"delay":0.2}'>
                                        <a class="btn btn-primary mr-3 mt-3" href="about.html">About Us
                                            <span class="fa fa-chevron-right ml-2"></span>
                                        </a>
                                        <a class="btn btn-warning mt-3" href="#contact_us">Contact us
                                            <span class="fa fa-chevron-right ml-2"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </section>
        </li>
    </ul>
</div>
<section class="background-white text-center" id="about_us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8">
                <h3 class="color-primary fs-2 fs-lg-3">Welcome to Kefi</h3>
                <p class="px-lg-4 mt-3">Kefi Tech Solutions works as a trusted IT partner, helping your organisation with right technology solutions creating definite market place advantage for your business.</p>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll"
                /> </div>
        </div>
        <div class="row mt-4 mt-md-5">
            <div class="col-sm-6 offset-lg-1 col-lg-2 mt-4 fiveelement" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"delay":0}' style="height:100px; width:100px;background-color: #262560 !important;">
                    <span class="fs-3 color-blueish mx-auto fw-600"><i class="fa fa-laptop" style="color: #fff200;" area-hidden="true"></i></span>
                </div>
                <h5 class="mt-4" data-zanim='{"delay":0.1}'>Application Services </h5>
                <p style="color: black;" class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Development , Maintenance, Transformation, Resourcing, Improvement
                    <br/></p>
            </div>
            <div class="col-sm-6 col-lg-2 mt-4 fiveelement" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px;background-color: #262560 !important;">
                    <span class="fs-3 color-blueish mx-auto fw-600"><i class="fa fa-mobile" style="color: #fff200;" area-hidden="true"></i></span>
                </div>
                <h5 class="mt-4" data-zanim='{"delay":0.1}'>Mobility Solutions </h5>
                <p style="color: black;" class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Native or hybrid mobile app development and transformation solutions</p>
            </div>
            <div class="col-sm-6 col-lg-2 mt-4 fiveelement" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px;background-color: #262560 !important;">
                    <span class="icon-Idea-2 fs-3 color-blueish mx-auto fw-600" style="color: #fff200;"></span>
                </div>
                <h5 class="mt-4" data-zanim='{"delay":0.1}'>Quality Assurance </h5>
                <p style="color: black;" class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Manual and automation testing on wide range of platforms and contents</p>
            </div>
            <div class="col-sm-6 col-lg-2 mt-4 fiveelement" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px;background-color: #262560 !important;">
                    <span class="icon-Headset fs-3 color-blueish mx-auto fw-600" style="color: #fff200;"></span>
                </div>
                <h5 class="mt-4" data-zanim='{"delay":0.1}'>Consultancy Services </h5>
                <p style="color: black;" class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>System integration, PMO, Process improvement, Outsourcing services</p>
            </div>
            <div class="col-sm-6 col-lg-2 mt-4 fiveelement" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim='{"trigger":"scroll"}' style="height:100px; width:100px;background-color: #262560 !important;">
                    <span class="fs-3 color-blueish mx-auto fw-600"><i class="fa fa-building" aria-hidden="true" style="color: #fff200;"></i></span>
                </div>
                <h5 class="mt-4" data-zanim='{"delay":0.1}'>Offshore Services </h5>
                <p style="color: black;" class="mb-0 mt-3 px-3" data-zanim='{"delay":0.2}'>Proven and Innovative offshore IT resourcing engagement services</p>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="pt-0">
    <div class="row bgd_fix" style="min-height: 50vh;">
        <div style="background: rgba(0, 0, 0, 0.5);">           
            <div class="row">
                <div>
                    <center>                                         
                        <div class="col-md-10 text_alg">                         
                            <h3 style="color: white;">“ With development center at one of the biggest IT park in Asia and extensive network in North America, <span class="kef_cl">Kefi</span> is well placed to give true global solutions. ”</h3>
                        </div>                            
                    </center>
                </div>                        
            </div>
        </div>
    </div>
</section>
<section class="pt-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 mt-3 mt-lg-0 text-lg-left px-4 px-sm-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <h5 data-zanim='{"delay":0}'>
                    <span class="fa fa-users color-primary mr-3"></span>EXPERIENCE MATTERS</h5>
                <p class="mt-3 pr-3 pr-lg-5 justpara" data-zanim='{"delay":0.1}'>Kefi's leadership team brings strong experience delivering complex IT solutions.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mt-3 mt-lg-0 text-lg-left px-4 px-sm-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <h5 data-zanim='{"delay":0}'>
                    <span class="fa fa-comments color-primary mr-3"></span>PROCESS RULES</h5>
                <p class="mt-3 pr-3 pr-lg-5 justpara" data-zanim='{"delay":0.1}'>Deeply process driven organization which ensures global standards consistently across our projects.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mt-3 mt-lg-0 text-lg-left px-4 px-sm-3" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <h5 data-zanim='{"delay":0}'>
                    <span class="fa fa-bolt color-primary mr-3"></span>BEST IS BENCHMARK</h5>
                <p class="mt-3 pr-3 pr-lg-5 justpara" data-zanim='{"delay":0.1}'>Quality is not an accident, it is the result of combining highly skilled people with best practices.</p>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-11">
    <div class="container">
        <h3 class="text-center fs-2 fs-md-3">Case studies</h3>
        <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" />
        {% if case_study.0 %}
        <div class="row no-gutters pos-relative mt-6">
            <div class="elixir-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0" style="min-height:400px;">
                <div class="background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0" style="background-image:url({{ case_study.0.case_image.url }});"> </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0 radius-tr-lg-secondary">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>{{ case_study.0.title }}</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p style="text-align: justify;" class="mt-3" data-zanim='{"delay":0.1}'>{{ case_study.0.case_short | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
        {% endif %}
        {% if case_study.1 %}
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="elixir-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0 order-lg-2" style="min-height:400px;">
                <div class="background-holder radius-tl-secondary radius-tl-lg-0 radius-tr-secondary radius-tr-lg-0" style="background-image:url({{ case_study.1.case_image.url }});"> </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary radius-br-lg-0">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>{{ case_study.1.title }}</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p style="text-align: justify;" class="mt-3" data-zanim='{"delay":0.1}'>{{ case_study.1.case_short | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
        {% endif %}
        {% if case_study.2 %}
        <div class="row no-gutters pos-relative mt-4 mt-lg-0">
            <div class="elixir-caret d-none d-lg-block"></div>
            <div class="col-lg-6 py-3 py-lg-0 mb-0" style="min-height:400px;">
                <div class="background-holder radius-tl-secondary radius-tr-secondary radius-tr-lg-0 radius-tl-lg-0 radius-bl-0 radius-bl-lg-secondary" style="background-image:url({{ case_study.2.case_image.url }});"> </div>
                <!--/.background-holder-->
            </div>
            <div class="col-lg-6 px-lg-5 py-lg-6 p-4 my-lg-0 background-white radius-bl-secondary radius-bl-lg-0 radius-br-secondary">
                <div class="d-flex align-items-center h-100">
                    <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <h5 data-zanim='{"delay":0}'>{{ case_study.2.title }}</h5>
                        </div>
                        <div class="overflow-hidden">
                            <p style="text-align: justify;" class="mt-3" data-zanim='{"delay":0.1}'>{{ case_study.2.case_short | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding: 20px;text-align: right;">
                <a href="{% url 'casestudy' %}" class="btn btn-primary btn-capsule">View All</a>
            </div>
            
        </div>
    </div>      
    {% endif %}
    <!--/.container-->
</section>
<!-- <section class=" background-primary py-6">
    <div class="container">
        <div class="row align-items-center">
        </div>
    </div>
</section> -->
<section>
<div class="flexslider flexslider-simple" style="max-height: 550px;min-height: 550px;padding-top: 4rem;">
    <ul class="slides">
        <li data-zanim-timeline="{}">
            <section class="py-0">
                <div class="background-holder" style="background-image:url({% static 'images/SecFlash-1.jpg' %});"> </div>
                <!--/.background-holder-->
                <div class="container">
                    <div class="row align-items-center py-8" data-inertia='{"weight":1.5}'>
                        <div class="col-sm-8 col-lg-6 px-5 px-sm-3">
                            <div class="overflow-hidden">
                                <h5 class="fs-2 fs-md-3 zopacity" data-zanim='{"delay":0}'>OUR VALUE</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>“We strongly believe that maintaining data integrity and confidentiality of intellectual property are equally important as software solutions we provide. So we made it as a part of our core value to ensure customers feel safe while using our services to solve business problems.”</p>
                            </div>
                            <!-- <div class="overflow-hidden">
                                <div class="zopacity" data-zanim='{"delay":0.2}'>
                                    <a class="btn btn-primary mr-3 mt-3" href="#">Read more
                                        <span class="fa fa-chevron-right ml-2"></span>
                                    </a>
                                    <a class="btn btn-warning mt-3" href="contact.html">Contact us
                                        <span class="fa fa-chevron-right ml-2"></span>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </section>
        </li>
        <li data-zanim-timeline="{}">
            <section class="py-0">
                <div class="background-holder" style="background-image:url({% static 'images/SecFlash-2.jpg' %});"> </div>
                <!--/.background-holder-->
                <div class="container">
                    <div class="row align-items-center py-8" data-inertia='{"weight":1.5}'>
                        <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                            <div class="overflow-hidden">
                                <h5 class="fs-2 fs-md-3 zopacity" data-zanim='{"delay":0}'>OUR PEOPLE</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>“ At Kefi , its all about our people. We continuously strive to create a positive work environment for all our employees . A place to work, learn, express ourselves , innovate and after all have fun. Fundamental to that is respecting each other. ”</p>
                            </div>
                            <!-- <div class="overflow-hidden">
                                <div class="zopacity" data-zanim='{"delay":0.2}'>
                                    <a class="btn btn-primary mr-3 mt-3" href="#">Read more
                                        <span class="fa fa-chevron-right ml-2"></span>
                                    </a>
                                    <a class="btn btn-warning mt-3" href="contact.html">Contact us
                                        <span class="fa fa-chevron-right ml-2"></span>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </section>
        </li>
        <li data-zanim-timeline="{}">
            <section class="py-0">
                <div class="background-holder" style="background-image:url({% static 'images/SecFlash-3.jpg' %});"> </div>
                <!--/.background-holder-->
                <div class="container">
                    <div class="row align-items-center py-8" data-inertia='{"weight":1.5}'>
                        <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                            <div class="overflow-hidden">
                                <h5 class="fs-2 fs-md-3 zopacity" data-zanim='{"delay":0}'>CUSTOMER FOCUS</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>“ We believe being an aspiring organization means to be sales oriented and the basis for that is being a customer-focused organization. We ask ourselves each time, how this benefits our customer while taking each and every decision. ” </p>
                            </div>
                            <!-- <div class="overflow-hidden">
                                <div class="zopacity" data-zanim='{"delay":0.2}'>
                                    <a class="btn btn-primary mr-3 mt-3" href="#">Read more
                                        <span class="fa fa-chevron-right ml-2"></span>
                                    </a>
                                    <a class="btn btn-warning mt-3" href="contact.html">Contact us
                                        <span class="fa fa-chevron-right ml-2"></span>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </section>
        </li>
        <li data-zanim-timeline="{}">
            <section class="py-0">
                <div class="background-holder" style="background-image:url({% static 'images/SecFlash-4.jpg' %});"> </div>
                <!--/.background-holder-->
                <div class="container">
                    <div class="row align-items-center py-8" data-inertia='{"weight":1.5}'>
                        <div class="col-sm-8 col-lg-7 px-5 px-sm-3">
                            <div class="overflow-hidden">
                                <h5 class="fs-2 fs-md-3 zopacity" data-zanim='{"delay":0}'>TECHNOLOGY IS THE WINNER</h5>
                            </div>
                            <div class="overflow-hidden">
                                <p class="color-primary mt-4 mb-5 lh-2 fs-1 fs-md-2 zopacity" data-zanim='{"delay":0.1}'>“ Our focus is on learning and adopting new technologies while mastering the ones we know already. For that we have created a greater appreciation of adopting challenges and continuous learning. The habit of pushing ourselves technically defines who we are. ”</p>
                            </div>
                            <!-- <div class="overflow-hidden">
                                <div class="zopacity" data-zanim='{"delay":0.2}'>
                                    <a class="btn btn-primary mr-3 mt-3" href="#">Read more
                                        <span class="fa fa-chevron-right ml-2"></span>
                                    </a>
                                    <a class="btn btn-warning mt-3" href="contact.html">Contact us
                                        <span class="fa fa-chevron-right ml-2"></span>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </section>
        </li>
    </ul>
</div>
</section>
<!-- <section class="background-10 py-6">
    <div class="container">
        <div class="row align-items-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-4 col-md-2 my-3 overflow-hidden">
                <img src="{% static 'images/partner/logo2.png" alt="" data-zanim="{}" />
            </div>
            <div class="col-4 col-md-2 my-3 overflow-hidden">
                <img src="{% static 'images/partner/logo1.png" alt="" data-zanim="{}" />
            </div>
            <div class="col-4 col-md-2 my-3 overflow-hidden">
                <img src="{% static 'images/partner/logo6.png" alt="" data-zanim="{}" />
            </div>
            <div class="col-4 col-md-2 my-3 overflow-hidden">
                <img src="{% static 'images/partner/logo3.png" alt="" data-zanim="{}" />
            </div>
            <div class="col-4 col-md-2 my-3 overflow-hidden">
                <img src="{% static 'images/partner/logo5.png" alt="" data-zanim="{}" />
            </div>
            <div class="col-4 col-md-2 my-3 overflow-hidden">
                <img src="{% static 'images/partner/logo4.png" alt="" data-zanim="{}" />
            </div>
        </div>
    </div>
</section> -->
<section class="background-11">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center fs-2 fs-lg-3">Thought Room</h3>
                <hr class="short" data-zanim='{"from":{"opacity":0,"width":0},"to":{"opacity":1,"width":"4.20873rem"},"duration":0.8}' data-zanim-trigger="scroll" /> </div>
        </div>
        <div class="row mt-lg-6">            
            {% for post in thoughts %} 
            <div class="col-md-6 col-lg-4 py-0 mt-4 mt-lg-0">
                <div class="background-white pb-4 h-100 radius-secondary">
                    <img class="w-100 radius-tr-secondary radius-tl-secondary" src="{{ post.cover_image.url }}" alt="Featured Image" />
                    <div class="px-4 pt-4" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="overflow-hidden">
                            <a href="{% url 'thoughts' post.id %}">
                                <h5 data-zanim='{"delay":0}'>{{post.heading}}</h5>
                            </a>
                        </div>
                        <div class="overflow-hidden">
                            <p class="color-7" data-zanim='{"delay":0.1}'>By {{post.name}}</p>
                        </div>
                        <div class="overflow-hidden">
                            <p class="mt-3" data-zanim='{"delay":0.2}'>{{post.though | safe }}...</p>
                        </div>
                        <div class="overflow-hidden">
                            <div class="d-inline-block" data-zanim='{"delay":0.3}'>
                                <a class="d-flex align-items-center" href="{% url 'thoughts' post.id %}">Learn More
                                    <div class="overflow-hidden ml-2" data-zanim='{"from":{"opacity":0,"x":-30},"to":{"opacity":1,"x":0},"delay":0.8}'>
                                        <span class="d-inline-block">&xrarr;</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12" style="padding: 20px;text-align: right;">
                <a href="{% url 'thoughtroom' %}" class="btn btn-primary btn-capsule">View All</a>
            </div>
            
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>

{% endblock %}