{% extends "master.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

<section class="background-11  text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-6">
                <h3 class="color-primary fs-2 fs-lg-3">5 reasons to trust Kefi Tech!</h3>
                <!-- <p class="px-lg-4 mt-3">Get expert consultancy and support with Elixir, an advisory firm that stand by your side always.</p> -->
                <hr class="short" data-zanim="{&quot;from&quot;:{&quot;opacity&quot;:0,&quot;width&quot;:0},&quot;to&quot;:{&quot;opacity&quot;:1,&quot;width&quot;:&quot;4.20873rem&quot;},&quot;duration&quot;:0.8}" style="width: 4.20873rem; opacity: 1;"> </div>
        </div>
        <div class="row mt-4 mt-md-5">
            <div class="col-sm-6 col-lg-2 offset-lg-1 mt-4" data-zanim-timeline="{&quot;delay&quot;:0.1}">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim="{&quot;delay&quot;:0}" style="height: 100px; width: 100px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <span class="icon-Bar-Chart5 fs-3 color-blueish mx-auto fw-600"></span>
                </div>
                <h5 class="mt-4" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">SMART Team</h5>
                <!-- <p class="mb-0 mt-3 px-3" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Solution for every business related problems, readily -->
                    <!-- <br>and skillfully.</p> -->
            </div>
            <div class="col-sm-6 col-lg-2 mt-4" data-zanim-timeline="{&quot;delay&quot;:0.1}">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim="{&quot;trigger&quot;:&quot;scroll&quot;}" style="height: 100px; width: 100px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <span class="icon-Clock fs-3 color-blueish mx-auto fw-600"></span>
                </div>
                <h5 class="mt-4" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Our Expertise</h5>
                <!-- <p class="mb-0 mt-3 px-3" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Calculate every possible risk in your business, take -->
                    <!-- <br>control over them.</p> -->
            </div>
            <div class="col-sm-6 col-lg-2 mt-4" data-zanim-timeline="{&quot;delay&quot;:0.1}">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim="{&quot;trigger&quot;:&quot;scroll&quot;}" style="height: 100px; width: 100px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <span class="icon-Idea-2 fs-3 color-blueish mx-auto fw-600"></span>
                </div>
                <h5 class="mt-4" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Professional</h5>
                <!-- <p class="mb-0 mt-3 px-3" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Know the market before taking any step, reduce -->
                    <!-- <br>risks before you go. </p> -->
            </div>
            <div class="col-sm-6 col-lg-2 mt-4" data-zanim-timeline="{&quot;delay&quot;:0.1}">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim="{&quot;trigger&quot;:&quot;scroll&quot;}" style="height: 100px; width: 100px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <span class="icon-Headset fs-3 color-blueish mx-auto fw-600"></span>
                </div>
                <h5 class="mt-4" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Customer Centric</h5>
                <!-- <p class="mb-0 mt-3 px-3" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Experience unparalleled service, from beginning -->
                    <!-- <br>to final construction.</p> -->
            </div>
            <div class="col-sm-6 col-lg-2 mt-4" data-zanim-timeline="{&quot;delay&quot;:0.1}">
                <div class="background-11 border border-color-9 radius-round mx-auto d-flex align-items-center" data-zanim="{&quot;trigger&quot;:&quot;scroll&quot;}" style="height: 100px; width: 100px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <span class="icon-Headset fs-3 color-blueish mx-auto fw-600"></span>
                </div>
                <h5 class="mt-4" data-zanim="{&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Innovative</h5>
                <!-- <p class="mb-0 mt-3 px-3" data-zanim="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Experience unparalleled service, from beginning -->
                    <!-- <br>to final construction.</p> -->
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- <div class="col-12">
                        <img class="radius-tr-secondary radius-tl-secondary" src="assets/images/news-1.jpg" alt="">
                    </div> -->
                    <div class="col-12">
                        <div class="background-white p-5 radius-secondary">
                            <p class="dropcap justpara">Kefi Tech is one of the few startup companies which are able to offer IT consulting services alongside development and testing services. Our competence is drawn from the wealth of experience of our leadership team in both IT Services and B2B Business Environments.</p>
                            <p class="justpara">What you get is a greater Value Proposition; when you trust Kefi with your projects.</p>
                            <p class="justpara">On-time delivery is given highest priority at Kefi. Realistic timelines are established and are equally competent to work on tight schedules if required.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
{% endblock %}