{% extends "admin_master.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}

<div class="bg0" style="padding: 20px;">
	<div class="row" style="margin: 0px;">
		{% if user.is_authenticated %}
		<div class="col-md-12 bg2" style="">
			<div class="row">			
				<div class="col-md-offset-2 col-md-8" style="text-align: center;">
					<h1>Edit Careers</h1>
				</div>
			</div>
			<div class="row">				
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-4">NAME</th>
							<th class="col-md-4">HEADING</th>
							<th class="col-md-2" style="text-align: center;">EDIT</th>
							<th class="col-md-2" style="text-align: center;">DELETE</th>
						</tr>
					</thead>
					<tbody>
						{% for post in careers %}
						<tr>
							<td>{{post.position}}</td>
							<td>{{post.heading}}</td>
							<td style="text-align: center;"><a href="{% url 'edit_career_detail' post.id %}" class="btn btn-info">VIEW / EDIT</a></td>
							<td style="text-align: center;"><a href="{% url 'delete_career' post.id %}" onclick = "if (! confirm('Continue Deletion?')) { return false; }" class="btn btn-danger">DELETE</a></td>
						</tr>
			    		{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% endif %}		
	</div>
</div>
{% endblock %}