{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicons/favicon.ico' %}">
    <link href="{% static '/css/kefiadminstyle.css' %}" rel="stylesheet">

	<title>
		KefiTech
	</title>
</head>
<body>
	<nav class="navbar navbar-light navbar-fixed-top">
		<div class="container-fluid"><div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span> 
		      	</button>
				<a href="{% url 'home'%}"><img src="{% static 'images/kefi.png' %}" alt="" style="max-width: 60%" /></a>
			</div>
		</div>
	</nav>
	<div class="bglogin" style="">
		<div class="col-md-offset-4 col-md-4" style="margin-top: 15%; background-color: #0000009c;color: #FFF;border-radius: 15px;">
			<form action="{% url 'logins' %}" method="POST">{% csrf_token %}
				{% if request.GET.next %}
					<input type="hidden" name="next" value="{{ request.GET.next }}"/>
				{% endif %}
				<div class="form-group">
					<label for="usr">Username:</label>
					<input type="text" class="form-control" name="username" required>
				</div>
				<div class="form-group">
					<label for="usr">Password:</label>
					<input type="password" class="form-control" name="password" required>
				</div>
				<div class="col-md-offset-4 col-md-4">
					<div class="form-group">
						<button type="submit" style="width: 100%;" class="btn btn-success">Login</button>						
					</div>
				</div>				
			</form>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>